CONFIG_MTK_WIFI_PMIC_QUERY=y
CONFIG_SUPPORT_TX_HIF_CREDIT_FEATURE=y
CONFIG_MTK_WIFI_SUPPORT_UDS_FWDL=y
CONFIG_TX_HIF_PORT_QUEUE_SUPPORT=y
CONFIG_SUPPORT_PRE_ON_PHY_ACTION=y
CONFIG_MTK_WIFI_WFD_SCC_BALANCE=y
CONFIG_CONTROL_ASPM_BY_FW=y
CONFIG_SUPPORT_PCIE_ASPM=y
CONFIG_WIFI_DRIVER_OWN_DELAY_SUPPORT=y
CONFIG_RX_ZERO_COPY=y
CONFIG_SUPPORT_THERMAL_QUERY=y
CONFIG_SUPPORT_BTM_OFFLOAD=y
CONFIG_SUPPORT_WIFI_DL_BT_PATCH=n
CONFIG_DEVICE_SUSPEND_BY_MOBILE=y
CONFIG_SUPPORT_SINGLE_FW_BINARY=y
CONFIG_TX_WORK_SUPPORT=y
CONFIG_RX_WORK_SUPPORT=y
CONFIG_SUPPORT_TX_FREE_MSDU_WORK=y
