CONFIG_SUPPORT_WIFI_DL_BT_PATCH=y
CONFIG_MTK_MDDP_SUPPORT=
CONFIG_MTK_WIFI_WFDMA_BK_RS=n
CONFIG_SUPPORT_FW_IDX_LOG_TRANS=y
CONFIG_SUPPORT_FW_IDX_LOG_SAVE=y
CONFIG_SUPPORT_CE_COREDUMP=y
CONFIG_UPDATE_STATIC_DBDC_QUOTA=y
CONFIG_TX_MGMT_BY_DATA_Q=y
CONFIG_SUPPORT_DEBUG_SOP=y
CONFIG_IP_FRAG_DISABLE_HW_CHECKSUM=y
CONFIG_FORCE_HW_CHECKSUM=y
CONFIG_SUPPORT_DUAL_WTBL_GTK_REKEY_OFFLOAD=y
CONFIG_SUPPORT_KERNEL_MAPPING_TXQ=y
CONFIG_PCIE_LTR_UPDATE=y
CONFIG_MTK_WIFI_SUPPORT_UPSTREAM_TOOL=y
CONFIG_NON_QOS_ARP_USE_QOS_TXQ_MAPPING=y
CONFIG_SUPPORT_SINGLE_SKU_DFS_PROTECT=n
CONFIG_SUPPORT_SINGLE_SKU_FORCE_CUSTOM_REG=n
CONFIG_MTK_WIFI_NAN=n

CONFIG_SUPPORT_PCIE_PLAT_INT_FLOW=y
CONFIG_MTK_WIFI_PCIE_MSI_SUPPORT=y
CONFIG_MTK_WIFI_APS_SUPPORT=y
CONFIG_SUPPORT_DUAL_SAP_SINGLE_LINK_MLO=y
CONFIG_SUPPORT_UPDTAE_HE_BSS_COLOR_FROM_BEACON=y
CONFIG_MTK_PRE_WIFI7=n
CONFIG_STA_REC_MAXIMUM=37
CONFIG_P2P_MAXIMUM_CLIENT_COUNT=32
CONFIG_WTBL_MAXSIZE=64
