CONFIG_MTK_WIFI_11AX_SUPPORT=y
CONFIG_MTK_WIFI_11BE_SUPPORT=y
CONFIG_MTK_WIFI_11BE_MLO_SUPPORT=y
CONFIG_MTK_WIFI_11BE_ML_RECONFIG=y
CONFIG_MTK_WIFI_11BE_EPCS=y
CONFIG_MTK_WIFI_11BE_T2LM=y
CONFIG_MTK_WIFI_APS_SUPPORT=y
CONFIG_MTK_WIFI_CONNAC3X=y
CONFIG_NUM_OF_WFDMA_RX_RING=4
CONFIG_NUM_OF_WFDMA_TX_RING=0
CONFIG_MTK_WIFI_UNIFIED_COMMND_SUPPORT=y
CONFIG_MTK_WIFI_TWT_SUPPORT=y
CONFIG_MTK_WIFI_TWT_STA_DIRECT_TEARDOWN=y
CONFIG_MTK_WIFI_TWT_SMART_STA=n
CONFIG_MTK_WIFI_TWT_HOTSPOT_SUPPORT=n
CONFIG_MTK_WIFI_TWT_HOTSPOT_AC_SUPPORT=n
CONFIG_MTK_WIFI_BTWT_SUPPORT=y
CONFIG_MTK_WIFI_11BE_ML_TWT_SUPPORT=y
CONFIG_MLD_LINK_MAX=2
CONFIG_DBDC_MODE=1
CONFIG_MTK_WIFI_6G_SUPPORT=y
CONFIG_SUPPORT_FORCE_ALTX=y
CONFIG_SUPPORT_TX_DATA_DELAY=y
CONFIG_SUPPORT_BW320=y
CONFIG_FILS_SK_OFFLOAD_SUPPORT=y
CONFIG_MTK_WIFI_TRX_DIRECT=y
CONFIG_NOT_CLR_FREE_MSDU_IN_DEACTIVE_NETWORK=y
CONFIG_MTK_WIFI_WFDMA_BK_RS=y
CONFIG_MTK_WIFI_WFDMA_WB=y
CONFIG_MTK_WIFI_CONNAC3X_DS_VER=3600
CONFIG_SUPPORT_WIFI_WFDMA_TX_RING_BK_RS=y
CONFIG_MTK_WIFI_SUPPORT_DSP_FWDL=y
CONFIG_SUPPORT_TESTMODE_FWDL=y
CONFIG_ADJUST_NETIF_TH_BY_BAND=y
CONFIG_SUPPORT_TPUT_FACTOR=y
CONFIG_SUPPORT_CONTROL_PORT_OVER_NL80211=y
CONFIG_SUPPORT_BMC_DISABLE_RETRY_RTS=y