on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules \
    mali_kbase_${ro.board.platform}.ko config_system_coherency=0

    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules \
    mali_prot_alloc_${ro.board.platform}.ko \
    mali_mgm_${ro.board.platform}.ko	\
    mali_kbase_${ro.board.platform}.ko \
