*.log
*.o
*.o.cmd
*.ko
*.ko.cmd
.tmp*
modules.*
Module.*
*.mod.c
*a.out
*.patch
*.bak
*~
*.gz
*.doc
*.xls
*.d
*.tmp

# source insight project files
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
