CONFIG_MTK_WIFI_11AX_SUPPORT=y
CONFIG_MTK_WIFI_11BE_SUPPORT=y
CONFIG_MTK_WIFI_11BE_MLO_SUPPORT=y
CONFIG_MTK_WIFI_APS_SUPPORT=y
CONFIG_MTK_WIFI_CONNAC3X=y
CONFIG_MTK_WIFI_CONNAC3X_DS_VER=3500
CONFIG_NUM_OF_WFDMA_RX_RING=2
CONFIG_NUM_OF_WFDMA_TX_RING=0
CONFIG_MTK_WIFI_UNIFIED_COMMND_SUPPORT=y
CONFIG_MTK_WIFI_TWT_SUPPORT=y
CONFIG_MTK_WIFI_TWT_STA_DIRECT_TEARDOWN=y
CONFIG_MTK_WIFI_TWT_SMART_STA=n
CONFIG_MTK_WIFI_TWT_HOTSPOT_SUPPORT=n
CONFIG_MTK_WIFI_TWT_HOTSPOT_AC_SUPPORT=n
CONFIG_MTK_WIFI_BTWT_SUPPORT=y
CONFIG_MTK_WIFI_11BE_ML_TWT_SUPPORT=y
CONFIG_MLD_LINK_MAX=2
CONFIG_MTK_WIFI_6G_SUPPORT=y
CONFIG_MTK_WIFI_DBDC_6G=y
CONFIG_SUPPORT_FORCE_ALTX=y
CONFIG_SUPPORT_TX_DATA_DELAY=n
CONFIG_SUPPORT_WIFI_DL_BT_PATCH=y
CONFIG_MTK_MDDP_SUPPORT=
CONFIG_SUPPORT_FW_IDX_LOG_TRANS=y
CONFIG_SUPPORT_FW_IDX_LOG_SAVE=y
CONFIG_SUPPORT_CE_COREDUMP=y
CONFIG_SUPPORT_DBDC_DOWNGRADE_NSS=y
CONFIG_TX_MGMT_BY_DATA_Q=y
CONFIG_SUPPORT_DEBUG_SOP=y
CONFIG_SUPPORT_OSHARE=n
CONFIG_SUPPORT_LOWLATENCY_MODE=n
CONFIG_DIRECT_READ_CHIP_INFO=y
CONFIG_SUPPORT_DUAL_WTBL_GTK_REKEY_OFFLOAD=y
CONFIG_SUPPORT_KERNEL_MAPPING_TXQ=y
CONFIG_FORCE_HW_CHECKSUM=y
CONFIG_PCIE_LTR_UPDATE=y
CONFIG_SUPPORT_BTM_OFFLOAD=y
CONFIG_MTK_WIFI_NAN=n
CONFIG_MTK_WIFI_11BE_ML_RECONFIG=y
CONFIG_MTK_WIFI_11BE_T2LM=y
CONFIG_MLO_EMLSR_CONCURRENT_ENHANCEMENT=n
CONFIG_SUPPORT_UPDTAE_HE_BSS_COLOR_FROM_BEACON=n
CONFIG_SUPPORT_SINGLE_SKU_DFS_PROTECT=n
CONFIG_SUPPORT_SINGLE_SKU_FORCE_CUSTOM_REG=n
CONFIG_SUPPORT_TESTMODE_L0P5_FWDL=y
CONFIG_MLO_CONCURRENT_SINGLE_PHY=y
