CONFIG_MTK_WIFI_PMIC_QUERY=y
CONFIG_SUPPORT_TX_HIF_CREDIT_FEATURE=y
CONFIG_MTK_WIFI_SUPPORT_SW_SYNC_BY_EMI=y
CONFIG_MTK_WIFI_SUPPORT_UDS_FWDL=y
CONFIG_TX_HIF_PORT_QUEUE_SUPPORT=y
CONFIG_CONTROL_ASPM_BY_FW=y
CONFIG_SUPPORT_PCIE_ASPM=y
CONFIG_SUPPORT_PCIE_PLAT_INT_FLOW=y
CONFIG_WIFI_DRIVER_OWN_DELAY_SUPPORT=y
CONFIG_RX_ZERO_COPY=y
CONFIG_SUPPORT_THERMAL_QUERY=y
CONFIG_SUPPORT_BTM_OFFLOAD=y
CONFIG_SUPPORT_WIFI_DL_BT_PATCH=n
CONFIG_DEVICE_SUSPEND_BY_MOBILE=y
CONFIG_SUPPORT_SINGLE_FW_BINARY=y
CONFIG_SUPPORT_PRE_ON_PHY_ACTION=y
CONFIG_DYNAMIC_DMASHDL_MAX_QUOTA=y
CONFIG_SUPPORT_PWR_LMT_EMI=y
CONFIG_SUPPORT_COEX_DOWNGRADE_BW=n
CONFIG_BCN_PROT=y
CONFIG_MTK_WIFI_XONVRAM_SUPPORT=y
CONFIG_SW_BIP_GMAC=n
CONFIG_MTK_WIFI_SUPPORT_CCM=y
CONFIG_SUPPORT_APGO_CROSS_BAND_CSA=y
CONFIG_MTK_WIFI_SUPPORT_PLCAL=y
CONFIG_REKEY_OFFLOAD=n
CONFIG_MTK_WIFI_SUPPORT_STA_DFS_CHANNEL=y
CONFIG_ABSENCE_TIMEOUT_DETECTION=y
