#CONFIG_MTK_WIFI_PCIE_MSI_SUPPORT=y
#CONFIG_MTK_WIFI_FW_LOG_MMIO=y
#CONFIG_MTK_WIFI_PMIC_QUERY=y
CONFIG_TX_HIF_PORT_QUEUE_SUPPORT=y
CONFIG_MTK_WIFI_SUPPORT_UDS_FWDL=y
CONFIG_SUPPORT_TX_HIF_CREDIT_FEATURE=y
CONFIG_SUPPORT_PRE_ON_PHY_ACTION=y
CONFIG_MTK_WIFI_WFD_SCC_BALANCE=y
CONFIG_DEVICE_SUSPEND_BY_MOBILE=y
